body {
    display: grid;
    grid-template-columns: 250px auto
}

/* NAVIGATION STUFF GOES HERE  */
#navWrapper {
    grid-row: 1 / span 3;
    position: relative;
}
nav ul {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    li {
        flex: none;
    }
    a {
        padding-left: 160px;
    }
}

.educationCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%
}
.educationDiv {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    img {
    width: 100%;
    height: auto;
    display:block;
    }
    h2 {
    margin:0;
    padding: .6rem;
    font-size: 100%;
    }
    p {
    padding: 0 .6rem .6rem .6rem;
    margin: 0;
    }
}
