/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
nav {
    ul {
        a {
            img {
                display: none;
            }
            span {
                display: block;
            }
        }
    }
}
.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.allCards .flip-card {
    margin: 15px;
}

/* --------------------------- CONTACT ME INPUTS --------------------------- */
.form {
    margin: 2rem auto;
    padding: 20px;
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* --------------------------- SOCIAL MEDIA ICONS --------------------------- */
.socialMedias {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li{
            flex: 1;
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin:0;
            color: white;
            text-decoration: none;
            transition: transform 0.3s ease;
            }
        }
    }
.socialMedias ul li img {
    width: 50px;
    height: auto;
}
.socialMedias ul li a:hover {
    transform: translateY(5px) scale(1.1);
}

/* --------------------------- EDUCATION CARDS --------------------------- */
.educationCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 10px 25px 0 0;

}
.educationDiv {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    img {
    width: 100%;
    height: auto;
    display:block;
    }
    h2 {
    margin:0;
    padding: .6rem;
    font-size: 100%;
    }
    p {
    padding: 0 .6rem .6rem .6rem;
    margin: 0;
    }
}