/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
nav {
    ul {
        a {
            img {
                display: none;
            }
            span {
                display: block;
            }
        }
    }
}

.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.allCards .flip-card {
    margin: 15px;
}

/* --------------------------- CONTACT ME INPUTS --------------------------- */
.form {
    margin: 2rem auto;
    padding: 20px;
    background-color: #f9f9f9; /* Light background */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px; /* Rounded corners */
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: red;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    color: red;
}

input[type="submit"] {
    background-color: #007BFF; /* Blue background */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* --------------------------- SOCIAL MEDIA ICONS --------------------------- */
.socialMedias {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li{
            flex: 1;
        }
        a {
            //new
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin:0;
            color: white;
            text-decoration: none;
            transition: transform 0.3s ease;
            }
        }
    }
.socialMedias ul li img {
    width: 50px;
    height: auto;
}
.socialMedias ul li a:hover {
    transform: translateY(5px) scale(1.1);
}

/* --------------------------- EDUCATION CARDS --------------------------- */

.educationCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    // margin: 0;
    //new
    margin: 0 auto;
    max-width: 1200px;
    width: 100%
    //end of new

}
.educationDiv {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    img {
    width: 100%;
    height: auto;
    display:block;
    }
    h2 {
    background-color: #D6AD60;
    margin:0;
    padding: .6rem;
    font-size: 100%;
    }
    p {
    padding: 0 .6rem .6rem .6rem;
    margin: 0;
    background-color: #D6AD60;
    }
}




// .educationDiv {
//     max-width: 400px;
// }