/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
nav {
    ul {
        a {
            img {
                display: none;
            }
            span {
                display: block;
            }
        }
    }
}

//new
.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.allCards .flip-card {
    margin: 15px;
}
//end of new