/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}

/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor; background-color: #EAEAEA;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center;
    padding: .5rem $gutter;
    span {
        padding: 15px;
        font-size: 2rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
}

/* ------------------------ NAVIGATION STUFF GOES HERE ---------------------- */
#navWrapper {
    background-color: $menuColor;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li{
            flex: 1;
        }
        li.active {
            background-color: darken($menuColor, 6%);
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.75rem;
            color: #031f4b;
            text-decoration: none;
            span {
                display: none;
            }
            &:hover {
                background-color: lighten($menuColor, 5%);
            }
        }
    }
}
nav img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.7rem;
        color: white;
        font-weight: $lightWeight;
    }
    h2 {
        padding: 0 0 0 $gutter;
        color: white;
        max-width: 800px;
        margin: 0 auto;
    }
    h3 {
        color:#031f4b;
    }
    .profile {
        margin: 40px;
        img {
            border-radius: 10px;
        }
    }
    p {
        padding: .7rem $gutter;
        color: white;
        line-height: $leading;
    }
    .aboutP {
        color: white;
        font-size: 1.3rem;
    }
    section {
        // height: 100vh;
        min-height: 100vh;
        padding: 30px;
        img {
            height: auto;
            }
        }
          
}// end main

#about {
    background-color: #6497b1;
    padding: 30px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    h1 {
        color: white;
    }
}
.nameLogo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}
.nameLogo img {
    max-width: 100%; 
    height: auto;
}
.nameLogo h1 {
    color: #d3d8d9;
    margin-top: 10px; 
}


#projects {
    background-color: #031f4b;
}
#education {
    background-color: #6497b1;
}
#goals {
    background-color: #031f4b;
}
#contact {
    background-color: #6497b1;
}

/* --------------------------- FLIP CARDS --------------------------- */
.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 15px auto;
    display: block;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #bbb;
    border-radius: 10px;
    img {
        border-radius: 10px;
    }
  }
  .flip-card-back {
    background-color: #6497b1;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    a {
        text-decoration: none;
        color: #031f4b;
    }
  }
  .cardText {
    color: white;
  }
/* --------------------------- BUTTONS ON CARDS --------------------------- */
  .btnPrice {
    background-color: #fcd494;   
    display: block;
    margin: 20px auto;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 8px; 
    cursor: pointer;
}
.btnPrice:hover {
    transform: translateY(5px);
    transition: transform .30s ease-in-out;
    background-color: #0056b3;
    a {
        color: white
    }
        
}

/* --------------------------- EDUCATION CARDS --------------------------- */
.educationCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 10px 25px 0 0;
}
.educationDiv {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
    img {
    width: 100%;
    height: auto;
    display:block;
    }
    h2 {
    background-color: 
    #035b96;
    margin:0;
    padding: .6rem;
    font-size: 100%;
    }
    p {
    padding: 0 .6rem .6rem .6rem;
    margin: 0;
    background-color: 
    #035b96;
    }
}

/* --------------------------- CONTACT ME INPUTS --------------------------- */

.form {
    margin: 1rem;
    padding: 20px;
    background-color: lighten($menuColor, 5%);
    border-radius: 10px;
}
label {
    display: block;
    margin-bottom: 10px;
    color:#031f4b;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    color:#031f4b;
}

input[type="submit"] {
    background-color: #fcd494;
    color: #031f4b;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
textarea {
    font-weight: $lightWeight;
    padding: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    color: white;
    transform: translateY(5px);
    transition: transform .30s ease-in-out;
}

#message {
    margin-right: 15px;
}
//end of contact me input

/* --------------------------- SOCIAL MEDIA ICONS --------------------------- */
.socialMedias {
    max-width: 400px;
    margin: 0 auto;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li{
            flex: 1;
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin:0;
            color: white;
            text-decoration: none;
            transition: transform 0.3s ease;
            }
        }
    }
.socialMedias ul li img {
    width: 50px;
    height: auto;
}
.socialMedias ul li a:hover {
    transform: translateY(5px) scale(1.1);
}

/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: lighten($menuColor, 5%);
}

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: #031f4b;
    text-align: center;
    line-height: $leading;
    a {color: #031f4b;}
}// end footer